p{
 font-family: 'Courier New', Courier, monospace;
margin: 6Px;
color:#3C0003;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#3C0003
}

.img-rounded-corners{
    border-radius: 12px;
    margin: 15px;
}

.countrycard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: row;
    background-color: #fafa8c;
    width:250px;
    padding: 10px;
    margin:15px;
    border-radius: 25px;
    

}
.countrycard:hover{
    transform: scale(1.04);
    transition-duration: 0.1s;
}